.code-input {
  input[type="number"] {
    -moz-appearance: textfield !important;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
  }

}

// flag-icon-css tweaks
.flag-icon {
  height: 1em;
}
.flag-icon-border {
  border: white 1px solid;
}
